USE [master]
GO
/****** Object:  Database [QuanLyKhachSan]    Script Date: 3/3/2026 4:45:14 PM ******/
CREATE DATABASE [QuanLyKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyKhachSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyKhachSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 3/3/2026 4:45:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[RoomName] [nvarchar](50) NULL,
	[CheckIn] [date] NULL,
	[CheckOut] [date] NULL,
	[Nights] [int] NULL,
	[TotalPrice] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/3/2026 4:45:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[Luong] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 3/3/2026 4:45:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NULL,
	[StatusText] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[BackgroundColor] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/3/2026 4:45:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [CustomerName], [RoomName], [CheckIn], [CheckOut], [Nights], [TotalPrice]) VALUES (1, N'nhien', N'Phòng 04', CAST(N'2026-03-01' AS Date), CAST(N'2026-03-02' AS Date), 1, CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[Bookings] ([BookingID], [CustomerName], [RoomName], [CheckIn], [CheckOut], [Nights], [TotalPrice]) VALUES (2, N'loc', N'Phòng 03', CAST(N'2026-03-01' AS Date), CAST(N'2026-03-02' AS Date), 1, CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[Bookings] ([BookingID], [CustomerName], [RoomName], [CheckIn], [CheckOut], [Nights], [TotalPrice]) VALUES (3, N'kha', N'Phòng 02', CAST(N'2026-03-02' AS Date), CAST(N'2026-03-03' AS Date), 1, CAST(300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [Luong]) VALUES (1, N'nam', N'nhanvien', N'2131', CAST(2312.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomName], [StatusText], [CustomerName], [BackgroundColor]) VALUES (1, N'Phòng 01', N'Trống', N'', N'#2ECC71')
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [StatusText], [CustomerName], [BackgroundColor]) VALUES (2, N'Phòng 02', N'Đang dùng', N'kha', N'#E74C3C')
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [StatusText], [CustomerName], [BackgroundColor]) VALUES (3, N'Phòng 03', N'Trống', N'', N'#2ECC71')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (1, N'admin', N'123', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (2, N'loc', N'123', N'Lễ tân')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (3, N'nhien', N'123', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E47366B9CB]    Script Date: 3/3/2026 4:45:14 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
